// bower:scss
// endbower

$fontBody: 16;
$activeColor: #10D720;

// MIXINS
@mixin font-size($value) {
  font-size: $value*$fontBody + px;
  //font-size: ($rem) + rem;
}

@mixin animation() {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@mixin border-radius($radius1, $radius2, $radius3, $radius4) {
  -webkit-border-radius: $radius1 $radius2 $radius3 $radius4;
     -moz-border-radius: $radius1 $radius2 $radius3 $radius4;
     -o-border-radius: $radius1 $radius2 $radius3 $radius4;
      -ms-border-radius: $radius1 $radius2 $radius3 $radius4;
          border-radius: $radius1 $radius2 $radius3 $radius4;
}

@mixin transition($sec, $mode) {
  -webkit-transition: $sec+s all;
  -moz-transition: $sec+s all;
  -o-transition: $sec+s all;
  transition: $sec+s all;
  transition-timing-function: $mode;
}
// END MIXINS

* {
  margin: 0;
  padding: 0;
  background-clip: padding-box;  
  -moz-background-clip: padding;  
  -webkit-background-clip: padding;
  outline: none !important;
}

html, body{
  height:100%
}

body {
  @include font-size(1);
  position:relative;
  overflow:hidden;
  background-color: #34A3DC;
  color: #3a3a3a;
  font-family: 'Roboto', sans-serif;
}

.radius-top {
  @include border-radius(10px, 10px, 0px, 0px);
}

#player {
  width: 300px;
  margin: auto;
  position: absolute;
  top: 50%;
  left:50%;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
  @include border-radius(10px, 10px, 10px, 10px);
}

.top {
  position: relative;
  background-color: #fff;
  @include transition(0.5, linear);
  .loading {
    width: 50%;
    margin: auto;
    display: block;
  }
  .group-img {
    -webkit-filter: grayscale(70%);
    filter: grayscale(70%);
    width: 100%;
    vertical-align: middle;
  }
  img.ng-hide {
    opacity:0;
  }
  .icon-heart {
    position: absolute;
    z-index: 1;
    right: 0;
    background-color: #eaeaea;
    cursor: pointer;
    padding: 10px;
    @include border-radius(0px, 10px, 0px, 10px);
    &:hover {
      color: #F44336;
    }
  }
}

.favourite {
  img {
    -webkit-filter: grayscale(0%) !important;
    filter: grayscale(0%) !important;
  }
  color: #F44336;
}

.bot {
  padding: 10px;
  background-color: #eaeaea;
  @include border-radius(0px, 0px, 10px, 10px);
}

ul {
  list-style:none;
  li:first-child {
    margin-bottom: 5px;
  }
  span {
    vertical-align: middle;
    margin-right: 10px;
    cursor: pointer;
  }
}

audio {
  width: 100%;
  margin: 20px 0;
}

#sounds {
  margin-top: 20px;
  overflow: auto;
  span {
    cursor: pointer;
    &:active, &:hover {
      color: $activeColor;  
    }
  }
  div {
    width: 33.33%;
    float: left;
  }
}

#less {
  text-align: right;
}

#sound {
  text-align: center;
}

#more {
  text-align: left;
}

#progress {
  background-color: #ccc;
  height: 5px;
  width: 100%;
  margin: 5px 0;
  @include border-radius(10px, 10px, 10px, 10px);
  #bar {
    background-color: blue;
    height: 100%;
    width: 0%;
    background-color: $activeColor;
    @include border-radius(10px, 10px, 10px, 10px);
  }
}

#actual-time, #total-time {
  @include font-size(0.8);
  margin-bottom: 20px;
}

#actual-time {
  float: left;
}

#total-time {
  float: right;
}

#controls {
  overflow: auto;
  clear: both;
  div {
    float: left;
    width: 33.33%;
    text-align: center;
    span {
      cursor: pointer;
    }
    span:hover, span:active {
      color: $activeColor;
    }
  }
}

@media (max-width: 450px) {

  #player {
    width: 100%;
  }

  .top, .radius-top, span, .bot {
    @include border-radius(0px, 0px, 0px, 0px);
  }

  .top .icon-heart {
    @include border-radius(0px, 0px, 0px, 10px);   
  }

}

// FONTS
@font-face {
  font-family: 'icomoon';
  src:url('fonts/icomoon.eot?-rub3pr');
  src:url('fonts/icomoon.eot?#iefix-rub3pr') format('embedded-opentype'),
    url('fonts/icomoon.ttf?-rub3pr') format('truetype'),
    url('fonts/icomoon.woff?-rub3pr') format('woff'),
    url('fonts/icomoon.svg?-rub3pr#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-group:before {
  content: "\e600";
}
.icon-heart:before {
  content: "\e601";
}
.icon-last:before {
  content: "\e602";
}
.icon-less:before {
  content: "\e603";
}
.icon-more:before {
  content: "\e604";
}
.icon-pause:before {
  content: "\e605" !important;
}
.icon-play:before {
  content: "\e606";
}
.icon-skip:before {
  content: "\e607";
}
.icon-song:before {
  content: "\e608";
}
.icon-mute:before {
  content: "\e609" !important;
}
.icon-sound:before {
  content: "\e60a";
}
