<div id="player">
  <div class="top radius-top" ng-class="{'favourite':favourite[current] == true}">
  	<span class="icon-heart" ng-click="addFavourite()"></span>
    <img class="radius-top loading" ng-hide="imgLoaded" src="images/loading.gif" />
    <img class="radius-top group-img" elem-ready="showImg()" ng-show="imgLoaded" ng-src="{{url}}{{songs[current].image}}" />
  </div>
  <div class="bot">
    <ul>
  		<li><span class="icon-song"></span>{{songs[current].title}}</li>
      	<li><span class="icon-group"></span>{{songs[current].artist}}</li>
  	</ul>
    <audio id="song" audioplayer playing="updateTime()" preload="auto" type="audio/mp3"></audio>
    <div id="sounds">
      <div id="less"><span class="icon-less" ng-click="changeVolume(10, 'less')"></span></div>
      <div id="sound"><span class="icon-sound" ng-click="mute()" ng-class="{'icon-mute':muted == true}"></span></div>
      <div id="more"><span class="icon-more" ng-click="changeVolume(10, 'more')"></span></div>
    </div>
  	<div id="progress" ng-click="songPosition($event)">
  		<div id="bar" ng-style="barWidth"></div>
  	</div>
    <div id="actual-time" ng-bind="seconds"></div>
    <div id="total-time" ng-bind="songs[current].duration"></div>
  	<div id="controls">
  		<div><span class="icon-last" ng-click="changeSong('prev')"></span></div>
  		<div><span class="icon-play" ng-click="playPause()" ng-class="{'icon-pause':playing == true}"></span></div>
  		<div><span class="icon-skip" ng-click="changeSong('next')"></span></div>
  	</div>
  </div>
</div>